{% extends 'base.html' %}

{% block content %}
<h1>{{park['data'][0]['fullName']}}</h1> 
<div id="park-actions">
  <form>
  <button class="btn btn-outline-primary btn-sm bookmark-btn" id="{{park_code}}">{% if park_code in g.user.bookmarked|map(attribute="park_code") %}Bookmarked!{% else %}Bookmark{% endif %}</button> 
  
  <button class="btn btn-outline-success btn-sm collect-btn" id="{{park_code}}">{% if park_code in g.user.collected|map(attribute="park_code") %}Collected!{% else %}Collect{% endif %}</button>

  <input type='button' value='Back' class="btn btn-outline-secondary btn-sm" onclick="history.go(-1)">
  </form>
</div>
 
  


<div class="row">
  <div class="col">
    <img src="{{park['data'][0]['images'][0]['url']}}" class="park-img">
   
    
  </div>
  <div class="col">
    <b>Description:</b>
    <p>{{park['data'][0]['description'] }}</p>
    <b>Direction Info:</b>
    <p>{{park['data'][0]['directionsInfo'] }}</p>
    
      
    <p><i class="fas fa-map-pin"></i> {{park['data'][0]['states']}}</p>
      
   
    <i class="fas fa-info-circle"></i><a href="{{park['data'][0]['url']}}" target="a_blank"> Visit nps.gov</a>
  </div>
</div>




{% endblock %}