body {
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.park-img {
  width: 100%;
  max-height: auto;
}

#park-actions {
  padding-bottom: .2em;
}
/*---------------- COLLECTION ----------------*/

.collection {
  display: flex;
  flex: wrap;
}

/* collected card in collection */
.collection-card {
  width: 160px;
  height: 220px;
  border: 5px solid rgb(204,202,202);
  border-style: double;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  background-color: black;
}

.collection-card-header {
  background-color: black;
  border-radius: 5px;
  padding-bottom: 5px;
}

.collection-card-body {
  height: 70%;
  overflow: hidden;
}

.collection-card-body img {
  max-height: 100%;
  margin: auto;
  display: block;
}

.collection-card-footer {
  text-align: center;
  margin-top: .3em;
}

.collection-card-title {
  font-size: .7em;
  font-weight: bold;
  color: white;
}

.delete {
  color: white;
  font-size: .7em;
  position: relative;
  display: inline-block;
  bottom: 2%;
  visibility: hidden;
  opacity: 0; 
}

.collection-card:hover .delete {
  visibility: visible;
  opacity: .7;
}


/*---------------- SEARCH BAR & AUTOCOMPLETE ----------------*/
.search-container {
  width: 100%;
}

#q {
  width: 90%;
}

.search-container button {
  cursor: pointer;
}

#suggestions ul {
  list-style-type: none;
  padding-left: 12px;
  width: 100%;
}

#suggestions ul li:hover {
  background-color: greenyellow;
  cursor: pointer;
}

/*---------------- 404 ----------------*/
.error-page {
  background-image: url('https://img.freepik.com/free-photo/beautiful-shot-high-white-hilltops-mountains-covered-fog_181624-399.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  height: 400px;
  width: 100vh;
  margin: 0 auto;
}

/*---------------- PAGINATION ----------------*/
.pagination-div {
  padding-bottom: 2rem;
  max-height: 80%;
}

.pagination-container {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 1rem 0;
  bottom: 0;
  justify-content: center;
}
.pagination-number,
.pagination-button{
  font-size: .9rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}
.pagination-number.active {
  color: fff;
  background: #0085b6;
}

.hidden {
  display: none;
}