<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Park Collector</title>

  <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

</head>
<body>


  
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>


<script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>
</html>