{% extends 'base.html' %}

{% block content %}
<div class="home-div">
<h1>Where to next?</h1>
<p>Explore your next adventure by park name or browse by topics of interest.</p>
<form autocomplete="off" class="form-inline" action="#">
  <div class="search-container form-group">
    <input name="q" id="q" class="form-control mr-2" placeholder="Search by park name">
    
    <button class="btn btn-sm btn-success" formaction="/park" formmethod="POST">
      <i class="fas fa-arrow-right"></i> 
    </button>
    
  </div>
  <div id="suggestions">
    <ul></ul>
  </div>
</form>
<br>

<h4>Browse by topics</h4>&nbsp;<button class="btn btn-sm btn-success" id="topics-btn"><i class="fas fa-chevron-down"></i></button>
<div class="hidden" id="topics-list"></div>
</div>

{% endblock %}