{% extends 'base.html' %}


{% block content %}

<div class="login-signup-div">
<h2>Signup</h2>
<p class="">Signup below to collect your next adventure! Already registered?&nbsp;<a href="/login">Login here </p></a>

<form method="POST">
  {{form.hidden_tag()}}
  <div class="row justify-content-center"> 
    <div class="col-md-6">
      {% for field in form
        if field.widget.input_type != 'hidden' %}
      <div class="form-group">  
        {{field.label}}
        {{field(class_="form-control")}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-success">Sign me up</button>
    </div>
  </div> 
</form>
</div>

{% endblock %}