{% extends 'base.html' %}

{% block content %}
<h1>Bookmarked</h1>
<table class="table table-striped">
 
    
    {% if not user.bookmarked %}
    No parks bookmarked yet. Search for parks to get started! 

    {% else %}

      {% for u in user.bookmarked %}
      <thead>
        <tr>
          <th scope="col">Park Name</th>
          <th scope="col">Explore</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        
      <tr id="{{u.park_code}}">
        <td>{{u.park_name}}</td>

        <form>
          <td>
            <button class="btn btn-sm btn-outline-info" formaction="/park/{{u.park_code}}" formmethod="GET">See info</button>
          </td>
        </form>
    
        <td><button class="btn btn-sm btn-outline-danger" id="delete-bookmarked-btn">x</button></td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>


{% endblock %}



