{% extends 'base.html' %}

{% block content %}
<h2>Bookmarked</h2>
<table class="table table-striped">
 
    {% if not user.bookmarked %}
    No parks bookmarked yet. Search for parks to get started! 

    {% else %}
      <thead>
        <tr>
          <th scope="col">Park Name</th>
          <th scope="col">Explore</th>
          <th scope="col">Add to Collection</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
      {% for u in user.bookmarked %}
      
      <tr id="{{u.park_code}}" class="bookmarked-park">
      <td>{{u.park_name}}</td>

      <form>
      <td>
        <button class="btn btn-sm btn-outline-info" formaction="/park/{{u.park_code}}" formmethod="GET">See info</button>
      </td>
      </form>

      <td>
        {% if u.park_code in g.user.collected|map(attribute="park_code")%}
        <button class="btn btn-sm btn-outline-success collected" id="bookmark-to-collect-btn">Collected!</button>
        {% else %}
        <button class="btn btn-sm btn-outline-success" id="bookmark-to-collect-btn">Collect</button>
        {% endif %}
      </td>

      <td>
        <button class="btn btn-sm btn-outline-danger" id="delete-bookmarked-btn">x</button>
      </td>
      
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>


{% endblock %}



