{% extends 'base.html' %}


{% block content %}
<h1>Collection</h1>
<div>
Hello adventurer! Total parks collected: {{user.collected | length}}
</div>

<div class="collection">
  {% for u in user.collected %}
  <div id="{{u.park_code}}" class="collection-card">
    <div class="collection-card-header">
      <span class="collection-card-title">{{u.park_name}}</span>
    </div>
    
    <div class="collection-card-body">
      <img src="" alt="NPS photo">
    </div>
    <div class="collection-card-footer">
      <span class="collection-card-loc">{{u.park_code}}</span>
    </div>
    <span class="delete">remove from collection</span>
  </div>
      
    
  {% endfor %}


</div>

    
    

{% endblock %}