{% extends 'base.html' %}


{% block content %}
<h2>Collection</h2>
<div class="collection-blurb-div">
What an adventurer! 
{% if user.collected|length > 0 %}
You've collected: {{user.collected | length}} out of {{total}} parks
{% else %}
No collection yet. Go out and explore! 
{% endif %}
</div>

<div class="collection">
  {% for u in user.collected %}
  <div id="{{u.park_code}}" class="collection-card">
    <div class="collection-card-header">
      
    </div>
    
    <div class="collection-card-body">
      <img src="" alt="NPS photo">
    </div>
    <div class="collection-card-footer">
      <p class="collection-card-title">{{u.park_name}}</p>
      <p class="delete"><i class="far fa-trash-alt fa-lg"></i></p>
    </div>
    
  </div>
      
    
  {% endfor %}


</div>

    
    

{% endblock %}