{% extends 'base.html' %}


{% block content %}
<h1>Collection</h1>
<div>
Hello adventurer! 
{% if user.collected|length > 0 %}
Total parks collected: {{user.collected | length}} out of {{total}}
{% else %}
No collection yet. Go out and explore! 
{% endif %}
</div>

<div class="collection">
  {% for u in user.collected %}
  <div id="{{u.park_code}}" class="collection-card">
    <div class="collection-card-header">
      
    </div>
    
    <div class="collection-card-body">
      <img src="" alt="NPS photo">
    </div>
    <div class="collection-card-footer">
      <span class="collection-card-title">{{u.park_name}}</span>
      <span class="delete">remove from collection</span>
    </div>
    
  </div>
      
    
  {% endfor %}


</div>

    
    

{% endblock %}